<?xml version="1.0" encoding="utf-8"?><!--  Name: Georgios Kozakos   Matric Number: S2003684  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.me.gcu.labstuff.kozakos_georgios_s2003684">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kozakos_Georgios_S2003684"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".JourneyPlannerActivity"
            android:exported="false" />
        <activity
            android:name=".CurrentIncidentsActivity"
            android:exported="false" />
        <activity
            android:name=".RoadworksActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB7j6iN298VcfrHJMYhQ3lXE6Z6EipfVBA" />

        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".DetailRoadworkActivity"
            android:exported="false" />
        <activity
            android:name=".DetailCurrentIncidentActivity"
            android:exported="false" />
        <activity
            android:name=".DetailJourneyPlannerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>